@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-soccer-background;
  }
  main {
    @apply mx-10 mt-8;
  }
  .main-header {
    @apply m-auto mt-10 text-center text-5xl font-semibold;
  }

  .sized-div {
    @apply sm:h-[600px] sm:w-[600px] md:h-[700px] md:w-[700px] lg:h-[1000px] lg:w-[1000px];
  }

  .cropped-ofp {
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: 25% 25%;
  }
}
